
.tab {
    position: relative;
    display: inline-block;
    background: none;
    width: 90px;
    height: 40px;
    border: 2px solid #9b9b9b;
    margin-right: -6px;
}

button:focus {outline:0;}

.active {
    border-color: #9b9b9b;
    background-color: #9b9b9b;
    color: #fff;
}

.info_favorites {
    display: none;
}

.info {
    border: 2px solid #9b9b9b;
    border-radius: 0px !important;
    top: -2px;
    position: relative;
    padding: 10px;
}

.user_info {
    width: 125px;
    font-weight: bold;
    display: inline-block;
}

.fav {
    border-bottom: 1px solid #afafaf;
    padding: 2em;
    position: relative;
}

.fav_image {
    width: 300px;
    position: relative;
    display: inline-block;
}

.text_info {
    position: relative;
    display: inline-block;
    padding-left: 30px;
}

.other_info {
    height: 30px;
    position: relative;
    padding: 8px 0px 0px 0px;
}

.favoriteForm {
    position: relative;
    display: inline-block;
}

.rating {
    left: 85px !important;
}