input, select, textarea {
    margin-bottom: 15px;
    height: 40px;
    width: 300px;
    padding: 5px;
    display: inline-block;
}

select {
    left: -4px;
    position: relative;
}

form {
    /*text-align: center;*/
    border: 2px solid #9b9b9b;
    width: 500px;
    padding: 10px 20px 20px 20px;
    margin: auto;
    position: relative;
    top: 50px;
    background-color: #f0f0fa;
}

.form_label {
    width: 150px;
    display: inline-block;
}

.description_label {
    position: relative;
    top: 10px;
    vertical-align: top;
}

.tag_label {
    position: relative;
    vertical-align: top;
}

.submitButton {
    width: 100%;
}